# Q1. What are the characteristics of the tuples? Is tuple immutable?

Characteristics of Tuples

  . Tuples are used to store multiple items in a single variable.
  
  . Tuple items are ordered, unchangeable(immutable), and allow duplicate values.
  
  . Tuples are written with round brackets.

# Q2. What are the two tuple methods in python? Give an example of each method. Give a reason why tuples have only two in-built methods as compared to Lists.

Two tuple methods in python.
  1. Count()
  2. index()
  
  Tuples have only 2 built in methods ,because tuples are immutable ,elements of tuple cannot be modified.

In [7]:
a=(1,2,"Sachu",3,4,1,3,7,97,34,1,5,32,True,False,0)

In [8]:
a.count(1)

4

In [9]:
a.count(3)

2

In [10]:
a.index(True)

0

In [11]:
a.index("Sachu")

2

# Q3.  Which collection datatypes in python do not allow duplicate items? Write a code using a set to remove duplicates from the given list.


List = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]

Sets data type don't allow duplicates items.

In [12]:
List = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]

In [13]:
New_list=set(List)

In [14]:
New_list

{1, 2, 3, 4}

# Q4. Explain the difference between the union() and update() methods for a set. Give an example of each method.

# Union()

union() method returns a set containing union of sets.
it joins one set with the another set and gives a new set.

In [15]:
Set1={1,2,3,45,7,8,9}

In [16]:
Set2={"Sachin","Rahul","Rohan",90,10}

In [17]:
Set3=Set1.union(Set2)

In [18]:
Set3

{1, 10, 2, 3, 45, 7, 8, 9, 90, 'Rahul', 'Rohan', 'Sachin'}

# Update()

Update() method that inserts all the items from one set into another:
    it updates the values of one set into antother

In [19]:
Set4={"abc","def","ghi","jkl","mno"}

In [20]:
print(Set4)

{'ghi', 'jkl', 'def', 'abc', 'mno'}

In [21]:
Set5= {"pqr","stu","vwx","yz"}

In [22]:
Set4.update(Set5)

In [23]:
Set4

{'abc', 'def', 'ghi', 'jkl', 'mno', 'pqr', 'stu', 'vwx', 'yz'}

# Q5. What is a dictionary? Give an example. Also, state whether a dictionary is ordered or unordered

.Dictionaries are used to store differnt types of data values in key:value pairs.
    
.Dictionaries are ordered ,changable and does not allow duplicates.     
    
.Dictionaries are written with curly brackets.

In [24]:
dict1={"key1":123,"key2":456,"key3":789}

In [25]:
dict1

{'key1': 123, 'key2': 456, 'key3': 789}

In [26]:
dict1.keys()

dict_keys(['key1', 'key2', 'key3'])

In [27]:
dict1.values()

dict_values([123, 456, 789])

In [28]:
dict1.items()

dict_items([('key1', 123), ('key2', 456), ('key3', 789)])

# Q6. Can we create a nested dictionary? If so, please give an example by creating a simple one-level nested dictionary.

Yes,We can create a nested dictionary

In [29]:
dict2={"Child1":{"Name":"Sachin","Age":22},"Child2":{"Name":"Sachu","Age":23}}

In [30]:
dict2

{'Child1': {'Name': 'Sachin', 'Age': 22},
 'Child2': {'Name': 'Sachu', 'Age': 23}}

In [31]:
dict2["Child2"]["Age"]

23

# Q7. Using setdefault() method, create key named topics in the given dictionary and also add the value of the key as this list ['Python', 'Machine Learningâ€™, 'Deep Learning']


dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}

In [32]:
dict3 = {'language' : 'Python', 'course': 'Data Science Masters'}

In [33]:
print(dict3)

{'language': 'Python', 'course': 'Data Science Masters'}

In [34]:
list3=['Python','Machine Learning','Deep Learning']

In [35]:
dict3.setdefault("Topics",list3)

['Python', 'Machine Learning', 'Deep Learning']

In [36]:
dict3

{'language': 'Python',
 'course': 'Data Science Masters',
 'Topics': ['Python', 'Machine Learning', 'Deep Learning']}

# Q8. What are the three view objects in dictionaries? Use the three in-built methods in python to display these three view objects for the given dictionary.

dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

In [37]:
dict4 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

In [38]:
print(dict4)

{'Sport': 'Cricket', 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

In [39]:
dict4.keys()

dict_keys(['Sport', 'Teams'])

In [40]:
dict4.values()

dict_values(['Cricket', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']])

In [41]:
dict4.items()

dict_items([('Sport', 'Cricket'), ('Teams', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand'])])

In [42]:
list(dict4.keys())

['Sport', 'Teams']