# Q1. Create a python program to sort the given list of tuples based on integer value using a lambda function.
[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [1]:
list1=[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [2]:
list1.sort(key=lambda x:x[1])

In [4]:
list1

[('Virat Kohli', 24936),
 ('Jack Kallis', 25534),
 ('Ricky Ponting', 27483),
 ('Sachin Tendulkar', 34357)]

# Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using lambda and map functions.
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
list2=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [12]:
square_numbers=list(map(lambda x:x*x,list2))

In [14]:
square_numbers

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [13]:
for i in square_numbers:
    print(i)

1
4
9
16
25
36
49
64
81
100

# Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and lambda functions
Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]


Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [15]:
Given_string=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [21]:
Tuple_string=tuple(map(lambda x:str(x),Given_string))

In [22]:
Tuple_string

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

# Q4.  Write a python program using reduce function to compute the product of a list containing numbers from 1 to 25.

In [14]:
from functools import reduce

In [35]:
numbers_list=[]
for i in range(1,26):
    numbers_list.append(i)
print(numbers_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]

In [37]:
list_product=reduce(lambda a,b:a+b,numbers_list)

In [38]:
list_product

325

# Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the filter function.

[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [40]:
list7=[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [52]:
Filtered_list=list(filter(lambda x:x%2==0 and x%3==0,list7))

In [53]:
Filtered_list

[6, 60, 90, 120]

# Q6. Write a python program to find palindromes in the given list of strings using lambda and filter function.

['python', 'php', 'aba', 'radar', 'level']

In [54]:
list9=['python', 'php', 'aba', 'radar', 'level']

In [56]:
Palindrome_list=list(filter(lambda x:x==x[::-1],list9))

In [57]:
Palindrome_list

['php', 'aba', 'radar', 'level']